@import "../../css-config/mixin.scss";

.hero-banner{
    padding: 50px 0;
    position: relative;
    background-image: linear-gradient(to top, rgb(194, 222, 248), rgba(250, 248, 248, 0.718));
    @include  md{
        padding: 40px 0;
        height: calc(100vh - 80px);
    }
    .banner-content{
        
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
        position: relative;
        max-width: calc(100% - 20px);
        @include md{
            flex-direction: row-reverse;
            max-width: 1200px;
            gap: 10%;
        }
        .text-content{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: rgb(253, 253, 253);
            // @include md{
            //     position: absolute;
            //     right: 50px;
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
            .span-1{
                width: 120px;
                position: absolute;
                top: 250px;
                left: 130px;
                border-radius: 10px;
                border-bottom: 2px solid navy;
                color: rgba(240, 248, 255, 0.893);
                background-color: rgba(2, 10, 247, 0.234);
                @include md{
                    position: initial;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgba(2, 10, 247, 0.284);
                }
            }
            h1{
                margin-bottom: 15px;
                font-size: 35px;
                color: black;
                // text-shadow: 7px 5px 6px navy;
                font-family: 'Abril Fatface', cursive;
                @include md{
                    font-size: 75px;
                }
            }
            .span-2{
                color: rgba(0, 0, 128, 0.478);
            }
        }
        .banner-img{
            position: relative;
            z-index: 9;
            width: 250px;
            margin-bottom: 60px;
            @include md{
                width: 500px;
            }
            @include xxl{
                margin-top: 0;
                margin-right: 0;
            }
        }
        img{
            mix-blend-mode: multiply;
           
        }
        .form{
            display: flex;
            justify-content: center;
            padding: 10px 50px;
            position: relative;
            gap: 20px;
            input{
                background-color: #ffffff63;
                font-size: 18px;
                width: 100%;
                outline: none;
                border: 0;
                text-transform: capitalize;
                
            }
            .text{
                border: 1px solid navy;
                padding: 5px 30px;
                cursor: pointer;
                color: rgb(251, 246, 246);
                background-color: rgb(7, 7, 7);
                &:hover{
                    opacity: 0.8
                }
            }
        }
    }
}