@import "../../css-config/mixin.scss";

.menu-section{
    width: 100%;
    padding: 10px 20px;
    background-image: linear-gradient(to top, rgba(194, 222, 248, 0.811), rgb(255, 254, 254));
    @include md{
        padding: 50px;
    }
    .header-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        span{
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.588);
        }
        h1{
            font-size: 30px;
            font-weight: 700;
            color: navy;
            text-shadow: 5px 2px 19px navy;
            @include md{
                font-size: 40px;
                
            }
        }
        p{
            margin-top: 0;
            margin-bottom: 50px;
            width: 100%;
            padding: 0px 20px;
            display: flex;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            color: rgba(65, 65, 65, 0.59);
            @include md{
                width: 30%;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .menu-content{
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md{
            gap: 20px;
        }
    }
    .btn{
        justify-content: center;
        display: flex;
        position: relative;
        left: 25%;
        height: 60px;
        width: 180px;
        align-items: center;
        background-color: rgba(0, 0, 128, 0.518);
        @include md{
            left: 45%;
        }
    }
}