@import "../../css-config/mixin.scss";

.dish-cart{
    width: calc(50% - 5px);
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.197);
    border-radius: 5px;
    background-color: rgba(69, 56, 122, 0.05);
    @include md{
        width: calc(25% - 15px);
    }
    .thumbnail{
        width: 100%;
        height: 180px;
       
        margin-bottom: 10px;
        padding: 25px;
        display: flex;
        align-items: center;
        
        @include md{
            height: 350px;
        }
        
        img{
            transition: all ease 0.3s;
            display: block;
            width: 100%;
            mix-blend-mode: multiply;
            
        }
    }
    .dish-detail{
        .name{
            font-size: 14px;
            font-weight: 400;
            display: block;
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include md{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .price{
            font-size: 18px;
            margin-left: 10px;
            @include md{
                font-size: 24px;
            }
        }
    }
    &:hover{
        .thumbnail{
            img{
                transform: scale(1.2);
                @include md{
                    transform: scale(1.1);
                }
            }
        }
    }
}